<div class="container my-5 pt-5">
    <div class="card">
        <h6>{{message}}</h6>
        <div class="card-body">
            <form action="" #formStudent="ngForm">
            <div class="form-group">
                <label for="">Student Name</label>
                <input type="text" class="form-control" [(ngModel)]="student.name"
                 required
                 minlength="4"
                 maxlength="20"
                 #studentName="ngModel"
                 (change)="print(studentName)"
                 name="name"
                >
                <div class="alert alert-danger" *ngIf="studentName.invalid && studentName.touched">
                    this is invalid
                </div>
                
            </div>
            <div class="form-group">
                <label for="">Student Phone</label>
                <input required type="text" class="form-control" [(ngModel)]="student.phone" #studentPhone="ngModel" name="phone">
            </div>
            <div class="form-group">
                <label for="">Student Age</label>
                <input required type="number" class="form-control"[(ngModel)]="student.age" #studentAge="ngModel" name="age">
            </div>
            <div class="form-group">
                <label for="">Student Image Url</label>
                <input required type="url" class="form-control"[(ngModel)]="student.imgUrl" #studentImage="ngModel" name="img">
            </div>
            <div class="form-group">
                <label for="">I agree Terms and Conditions</label>
                <input required type="checkbox" ngModel #agree="ngModel" name="agree">
            </div>
            <div>
                <button  [disabled]="formStudent.invalid" (click)="onSubmit()" class="btn btn-info">Submit Data</button>

            </div>
        </form>
        </div>
    </div>
</div>